body {
    width: 900px;
    margin:0 auto;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 20px;
    margin: 0 auto;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    width: 900px;
    align-items: baseline;
}

header nav a {
    color: black;
    text-decoration: none;
}

.top-about-pic {
    display: flex;
    justify-content: space-around;
}

.top-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
    padding: 10px 0;
}

.middle-about .strategy {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    border: 20px;
    padding: 20px;
    justify-content: space-between;
    border-bottom: 1px dashed black;
}


.btn{
    background: white;
    border-radius: 10px;
    border: 1.5px solid black;
    padding: 6px 10px 6px 10px;
}